.services_section{
    padding: 50px 0;
    background: black;
}
.grid_services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 30px;
}
.grid_services .card{
    text-align: center;
    padding: 40px 30px;
}
.grid_services .card:hover{
    background:rgba(2550,250,250,.03);
}
.grid_services .card h2{
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--pr);
}
.grid_services .card p{
    opacity: .8;
    color: white;
}
.grid_services .card .btn{
    margin-top: 21px;
    background: var(--btn);
    color: white;
}